@font-face{
font-family: 'nomesite'; /* Nome que você vai usar */
src: url('../font/font-nome-site/Spicy\ Sale.ttf')
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
html, body {
  overflow-x: hidden;
 
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#F8F8FF;
}


/*CÓDIGO A SEGUIR PARA MANTER O FOOTER FIXADO NO RODAPÉ DA PÁGINA*/
 .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .container .conteudo-principal {
        flex: 1 1 0;
        border: 0;
      }

.cabecalho {
  position:fixed;
  top: 0;
  background-color: #1c1c1c;
  height:70px;
  width: 100%;
  z-index:1000;
}
.nome-site {
  margin-top:0px;
  text-align: center;
  padding:50px 0px 20px 0px;
   font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1.5rem, 5vw, 3rem);
  background-color:#363636;
  color:#FF4500;
  
}
.destaques {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.lista-menu {
  height: auto;
  max-width: 100%;
  background-color: #1c1c1c;
  display: flex; 
  justify-content: center;
  list-style: none; 
  padding:10px;
  margin: 0;
  
}

.lista-menu li a {
  padding:10px;
  text-decoration: none;
  color:#FF4500;
  display: block;
}
.lista-menu a:hover {
  background-color:#F8F8FF;
  color:#1c1c1c;
  border:5px solid #1c1c1c;
  border-radius:10px;

}

.icones-redes-topo {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
 
}

.icones-redes-topo a {
  padding:10px;
  border:3px solid #FF4500;
  border-radius:10px;
  background-color:#A9A9A9;

}
.gibiteca{
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;

}

.credito-artista{
    background-color: #DCDCDC;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 800;
  }
 
.conteudo-principal{
  margin-top:200px;
}
.artigo-conteudo-principal {
  margin-bottom:80px;
}
.h1-artigo {
  font-family: Arial, Helvetica, sans-serif;
  font-size:clamp(1rem, 2vw,2rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom:40px;
  

  
}
.data-postagem {
  display: inline;
  margin-left: 20%;
  margin-right: 20%;


}
.musicas {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}
.musicas audio {
  background-color:#FF4500;
  border: 1px solid #000;
}
.videos {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.img-artigo {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom:20px;
  
}
.img-artigo-album {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;

}
.h2-artigo {
  font-size:clamp(1rem, 5vw,2rem);
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:40px;
  margin-bottom: 40px;

}
.h3-artigo {
  font-size:20px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:20px;
  margin-bottom:20px;
}

.paragrafo-artigo {
  font-size: clamp(1rem, 2vw, 1.2rem); 
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top:20px;
  margin-bottom:20px;
  
}
.fonte-do-artigo {
  margin-left: 20%;
  margin-right: 20%;
  font-weight:800;
  
}
.lista-artigo{
  margin-left: 20%;
  margin-right: 20%;
  font-weight:800;
  
}
.legenda {
  background-color:#DCDCDC;
  margin-left: 30%;
  margin-right:30%;
  font-weight: 800;
}
.voltar-inicio{
  display:flex;
  justify-content: center;
}
.voltar-inicio a {
  font-size: clamp(1rem, 2vw, 1.2rem); 
  color: #000;
}

footer { 
  margin-top:40px;
  max-width: 100%;
  height: auto;
  background-color: #1c1c1c;
}
#logo {
  display: flex;
  justify-content: center;
}
.copyright {
  max-width: 100%;
  height: auto;
}


.copyright-adeilson {
  max-width: 100%;
  padding-top: 60px;
  height:auto;
  display: flex;
  justify-content: center;
  color:#FF4500;
  font-size: clamp(1rem, 2vw, 1.2rem); 
}


/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (min-width:768px) {
  #menuToggle {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .menu-navegacao {
    display: none ;
  }
}
@media screen and (max-width: 768px) {
  .lista-menu {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
  }
}


/* Media query para telas menores que 768px (tablets e celulares) */
@media screen and (max-width: 768px) {
  .icone-redes {
    display: none; /*Não vai mostrar os icones de redes sociais para tela menoes*/
  }
}
@media screen and (max-width: 768px) {
  .img-artigo {
    width:80%;
  }

}

@media screen and (max-width: 768px) {
  .icone-redes-rodape {
    flex-direction: column; /* Altera a direção para coluna */
    text-align: center; /* Centraliza os itens na coluna */
    border-radius: 10px;
  }
}
